@{
    ViewBag.Title = "Establecimientos";
}

<h2>Usuarios</h2>

<p>
    <a href="/monitoreotest/usuarios/Create" class="btn btn-sm btn-success" style="float:right;">Nuevo</a>
</p>


<br /><br />

<table width="100%" id="tbl" class="table table-condensed">
    <thead>
        <tr>
            <th>
                Nombre y Apellido
            </th>
            <th>
                Email
            </th>
            <th>
                Alta
            </th>
            <th></th>
        </tr>
    </thead>
</table>

<script src="~/Resources/js/usuarios/index.min.js"></script>
