@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<h4 style="color:red;">@ViewBag.Error</h4>

<br /><br /><br /><br /><br /><br /><br />

<center>
    <a href="/monitoreotest/auditorias/Index?estado=consil" class="btn btn-primary">Volver</a>
</center>

